@use "../abstracts" as *;


.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 20px;
  max-width: 1170px; 
  margin: 0 auto;
  width: 100%;
  padding:0 2rem;

  @include  desktopSmall  {
		padding:0;
	}
}

// .wrapper > * {
//   grid-column: col-start / span 12;
// }